:root {
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url('pic.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	text-align: center;
}

body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-primary);
	background: var(--bg-primary);
	font-size: 1.5;
	letter-spacing: 0.3ch;
	width: 60%;
}

.logo svg {
	transform: rotate(0deg);
	transition: transform 600ms;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600;
}

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-item {
	width: 100%;
	margin-bottom: 3rem;

}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: 600ms;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background-color: var(--bg-secondary);
	color: var(--text-secondary);
}

.link-text {
	display: none;
	padding: 0;
	position: relative;
		left: -15%;
}

.nav-link svg {
	min-width: 2rem;
	margin: 0 1.5rem;
}

.navbar:hover {
	width: 8rem;
}

.navbar:hover .link-text {
	display: block;
}

.navbar:hover .logo svg {
	transform: rotate(-180deg);
}

.fa-primary {
	color: pink;
}

.fa-secondary {
	color: palevioletred;
}

.fa-primary, .fa-secondary {
	transition: 600ms;
}

/* actual page */
#intro-div {
	margin-left: 7%;
	backdrop-filter: blur(10px);
	text-align: center;
	margin-right: 7%;
	padding-bottom: 1%;
	font-family: 'Courier New', Courier, monospace;
}

.title
{
	font-size: 40px;
	font-family: Pixeboy;
}

.filler {
	padding-top: 40%;
}

.filler2 {
	padding-top: 10%;
}

#curriculum, #Contacts {
	padding-top: 1%;
	margin-left: 7%;
	backdrop-filter: blur(110px);
	text-align: center;
	margin-right: 7%;
	padding-bottom: 1%;
	font-family: 'Courier New', Courier, monospace;
}

